In [2]:
# pickle

import pandas as pd
import pickle
data1 = {'A':[1,2,3], 'B':[4,5,6]}
data1 = pd.DataFrame(data1)

#data1을 pickle로 저장 (wb: 바이너리 쓰기)
with open("data.pickle", 'wb') as file:
    pickle.dump(data1,file)

#data.pickle로 저장했던 data1 불러오기 (rb: 바이너리 읽기)
with open("data.pickle", 'rb') as file:
    data = pickle.load(file)

data

   A  B
0  1  4
1  2  5
2  3  6

In [3]:
# 여러 df를 하나의 pickle로 저장

data1 = {'A': [1, 2, 3], 'B': [4, 5, 6]}
data2 = {'X': ['apple', 'banana', 'cherry'], 'Y': ['dog', 'elephant', 'fox']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# 두개의 데이터 프레임을 하나의 변수에 리스트로 넣는다.
dataframes = [df1, df2]

with open("dataframes.pickle","wb") as file:
    pickle.dump(dataframes, file)

with open("dataframes.pickle","rb") as file:
    data = pickle.load(file)

# 0번 index = df1
data[0]

   A  B
0  1  4
1  2  5
2  3  6

In [4]:
# 1번 index = df2
data[1]

        X         Y
0   apple       dog
1  banana  elephant
2  cherry       fox

In [5]:
data

[   A  B
 0  1  4
 1  2  5
 2  3  6,
         X         Y
 0   apple       dog
 1  banana  elephant
 2  cherry       fox]

In [6]:
# HDF5 : 다양한 프로그래밍 언어에 사용가능

import tables

data1 = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C':["a","b","c"]}
data2 = {'X': ['apple', 'banana', 'cherry'], 'Y': ['dog', 'elephant', 'fox']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

loaded_dataframes = []

filename = "all_dataframes.h5"
df1.to_hdf(filename, key='df1', mode='w')    # 처음에 h5파일을 쓰기(Write) 모드
df2.to_hdf(filename, key='df2', mode='a')    # 이후 h5파일에 추가(Add) 모드

#저장한 h5파일 읽기(불러오기)
with pd.HDFStore(filename, 'r') as store:
    for key in store.keys():
        loaded_dataframes.append(store[key])

In [7]:
loaded_dataframes

[   A  B  C
 0  1  4  a
 1  2  5  b
 2  3  6  c,
         X         Y
 0   apple       dog
 1  banana  elephant
 2  cherry       fox]

In [10]:
loaded_dataframes[0]

   A  B  C
0  1  4  a
1  2  5  b
2  3  6  c

In [14]:
loaded_dataframes[1]

        X         Y
0   apple       dog
1  banana  elephant
2  cherry       fox

In [16]:
#JSON : 다양한 시스템과 언어에서 쓰는데 적합

import json

data1 = {'A': [1, 2, 3], 'B': [4, 5, 6]}
data2 = {'X': ['apple', 'banana', 'cherry'], 'Y': ['dog', 'elephant', 'fox']} 

df1 = pd.DataFrame(data1) 
df2 = pd.DataFrame(data2) 

df1.to_json("df1.json")               # 파일 쓰기
df2.to_json("df2.json")

loaded_df1 = pd.read_json("df1.json") # 파일 불러오기
loaded_df2 = pd.read_json("df2.json")

In [17]:
loaded_df1

   A  B
0  1  4
1  2  5
2  3  6

In [18]:
loaded_df2

        X         Y
0   apple       dog
1  banana  elephant
2  cherry       fox

In [22]:
# 두개의 데이터프레임을 하나의 JSON으로 저장
combined_list = [df1.to_dict(orient='records'), df2.to_dict(orient='records')]
#여러 데이터프레임을 저장하려면 딕셔너리 형태로 변경 후 저장해야만 한다.

#with open 이거 시험에 안나옴...
with open('combined_list.json', 'w') as file:
    json.dump(combined_list, file)
    
combined_list[0]

[{'A': 1, 'B': 4}, {'A': 2, 'B': 5}, {'A': 3, 'B': 6}]

In [21]:
combined_list[1]

[{'X': 'apple', 'Y': 'dog'},
 {'X': 'banana', 'Y': 'elephant'},
 {'X': 'cherry', 'Y': 'fox'}]

In [24]:
pd.DataFrame(combined_list[0])

   A  B
0  1  4
1  2  5
2  3  6

In [25]:
pd.DataFrame(combined_list[1])

        X         Y
0   apple       dog
1  banana  elephant
2  cherry       fox