In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.read_csv("데이터/sample_1.csv", encoding = "utf-8")
s2 = pd.read_csv("데이터/sample_2.csv", encoding = "utf-8", low_memory=False)
p1 = pd.read_csv("데이터/patient_1.csv", encoding = "cp949")
p2= pd.read_csv("데이터/patient_2.csv", encoding = "cp949")
p3= pd.read_csv("데이터/patient_3.csv", encoding = "cp949")

In [3]:
s1

,연구번호,입실일자,입실시각,검사코드,검사코드NM,검사결과값(숫자),검사결과값(표시),기준치상한값,기준치하한값,접수일자,접수시각,검사나이,진료과코드,진료과코드NM,퇴실시각,퇴실일자,환자생년월,성별코드,성별코드NM
0,1219300234,20210220,1350.0,ZF0156,"ABGA coding (Des),Artery blood",342.0,342,NaN,NaN,20210221.0,212123.0,81.0,NR,신경과,1430,20210302,193909,M,남성
1,1219300234,20210220,1350.0,ZF0016,"Bicarbonate (Qn),Artery blood",27.5,27.5,29.0,23.0,20210221.0,212123.0,81.0,PSY,정신건강의학과,1430,20210302,193909,M,남성
2,1219300234,20210220,1350.0,ZF0155,"ABGA interpretation (Des),Artery blood",NaN,이전 동맥혈액 가스검사 판독결과가 Uncompensated respiratory a...,NaN,NaN,20210221.0,43234.0,81.0,NR,신경과,1430,20210302,193909,M,남성
3,1219300234,20210220,1350.0,BB0007,"pO2 (Qn)[EM],Artery blood",117.8,117.8,108.0,83.0,20210222.0,45628.0,81.0,PSY,정신건강의학과,1430,20210302,193909,M,남성
4,1219300234,20210220,1350.0,ZF0012,"O2 saturation (Qn),Artery blood",98.3,98.3,100.0,94.0,20210222.0,45628.0,81.0,PSY,정신건강의학과,1430,20210302,193909,M,남성
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,1169043575,20200519,1800.0,ZF0157,"ABGA reading (Des),Artery blood",NaN,Normal ABGA,NaN,NaN,20200520.0,155439.0,66.0,END,내분비내과,1710,20200520,195307,F,여성
799996,1169043575,20200519,1800.0,BC0202,"Glucose (Qn)[POCT],Blood",299.0,299,99.0,70.0,20200520.0,155439.0,66.0,GI,소화기내과,1710,20200520,195307,F,여성
799997,1169043575,20200519,1800.0,ZF0014,"Base excess (Qn),Artery blood",-1.8,-1.8,NaN,NaN,20200520.0,155439.0,66.0,GS,일반외과,1710,20200520,195307,F,여성
799998,1169043575,20200519,1800.0,ZF0016,"Bicarbonate (Qn),Artery blood",22.9,22.9,29.0,23.0,20200520.0,155439.0,66.0,INF,감염내과,1710,20200520,195307,F,여성
799999,1169043575,20200519,1800.0,BB0074,"Potassium (Qn)[POCT],Blood",3.7,3.7,NaN,NaN,20200520.0,155439.0,66.0,NPH,신장내과,1710,20200520,195307,F,여성

In [4]:
s2

,연구번호,입실일자,입실시각,검사코드,검사코드NM,검사결과값(숫자),검사결과값(표시),기준치상한값,기준치하한값,접수일자,접수시각,검사나이,진료과코드,진료과코드NM,퇴실시각,퇴실일자,환자생년월,성별코드,성별코드NM
0,1219300234,20210220,1350.0,BB0001,"pCO2 (Qn)[EM],Artery blood",33.3,33.3,45.0,35.0,20210224,51147,81,PSY,정신건강의학과,1430,20210302,193909,M,남성
1,1219300234,20210220,1350.0,BB0007,"pO2 (Qn)[EM],Artery blood",134.1,134.1,108.0,83.0,20210224,163106,81,CV,심장내과,1430,20210302,193909,M,남성
2,1219300234,20210220,1350.0,BB0007,"pO2 (Qn)[EM],Artery blood",90.3,90.3,108.0,83.0,20210224,51147,81,RM,재활의학과,1430,20210302,193909,M,남성
3,1219300234,20210220,1350.0,ZF0012,"O2 saturation (Qn),Artery blood",97.3,97.3,100.0,94.0,20210228,164928,81,RM,재활의학과,1430,20210302,193909,M,남성
4,1219300234,20210220,1350.0,BB0001,"pCO2 (Qn)[EM],Artery blood",40.9,40.9,45.0,35.0,20210223,43759,81,NR,신경과,1430,20210302,193909,M,남성
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195793,1169043575,20200519,1800.0,BB0007,"pO2 (Qn)[EM],Artery blood",27.5,27.5,108.0,83.0,20200518,231230,66,HOS,수부외과,1710,20200520,195307,F,여성
195794,1169043575,20200519,1800.0,BB0007,"pO2 (Qn)[EM],Artery blood",27.5,27.5,108.0,83.0,20200518,231230,66,IM,NaN,1710,20200520,195307,F,여성
195795,1169043575,20200519,1800.0,ZF0012,"O2 saturation (Qn),Artery blood",98.4,98.4,100.0,94.0,20200518,221813,66,HHC,가정간호,1710,20200520,195307,F,여성
195796,1169043575,20200519,1800.0,BB0074,"Potassium (Qn)[POCT],Blood",4.1,4.1,NaN,NaN,20200520,123227,66,HOS,수부외과,1710,20200520,195307,F,여성
195797,1169043575,20200519,1800.0,ZF0012,"O2 saturation (Qn),Artery blood",97.1,97.1,100.0,94.0,20200525,73841,66,PLM,호흡기내과,1710,20200520,195307,F,여성

In [5]:
p1

,연구번호,입실일자,입실시각,검사코드NM,검사결과값(숫자),기준치상한값,기준치하한값,검사나이,접수일자,접수시각,퇴실일자,퇴실시각,환자생년월,성별코드,환자ID,입원기간
0,1219300234,2021-02-20,13:50:00,"Bicarbonate (Qn),Artery blood",27.5,29.0,23.0,80세 이상,2021-02-21,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
1,1219300234,2021-02-20,13:50:00,"pO2 (Qn)[EM],Artery blood",117.8,108.0,83.0,80세 이상,2021-02-22,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
2,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,80세 이상,2021-02-22,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
3,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,80세 이상,2021-02-22,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
4,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",47.0,45.0,35.0,80세 이상,2021-02-21,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464314,1169043575,2020-05-19,18:00:00,"pO2 (Qn)[EM],Artery blood",92.5,108.0,83.0,70s,2020-05-20,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
464315,1169043575,2020-05-19,18:00:00,"pCO2 (Qn)[EM],Artery blood",38.1,45.0,35.0,70s,2020-05-20,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
464316,1169043575,2020-05-19,18:00:00,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,70s,2020-05-20,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
464317,1169043575,2020-05-19,18:00:00,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,70s,2020-05-20,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
464318,1169043575,2020-05-19,18:00:00,"Bicarbonate (Qn),Artery blood",22.9,29.0,23.0,70s,2020-05-20,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days

In [6]:
p2

,연구번호,입실일자,입실시각,검사코드NM,검사결과값(숫자),기준치상한값,기준치하한값,검사나이,접수일자,접수시각,퇴실일자,퇴실시각,환자생년월,성별코드,환자ID,입원기간
0,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",33.3,45.0,35.0,80세 이상,2021-02-24,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
1,1219300234,2021-02-20,13:50:00,"pO2 (Qn)[EM],Artery blood",134.1,108.0,83.0,80세 이상,2021-02-24,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
2,1219300234,2021-02-20,13:50:00,"pO2 (Qn)[EM],Artery blood",90.3,108.0,83.0,80세 이상,2021-02-24,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
3,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",97.3,100.0,94.0,80세 이상,2021-02-28,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
4,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",40.9,45.0,35.0,80세 이상,2021-02-23,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188141,1169043575,2020-05-19,18:00:00,"pO2 (Qn)[EM],Artery blood",27.5,108.0,83.0,70s,2020-05-18,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
188142,1169043575,2020-05-19,18:00:00,"pO2 (Qn)[EM],Artery blood",27.5,108.0,83.0,70s,2020-05-18,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
188143,1169043575,2020-05-19,18:00:00,"pO2 (Qn)[EM],Artery blood",27.5,108.0,83.0,70s,2020-05-18,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
188144,1169043575,2020-05-19,18:00:00,"O2 saturation (Qn),Artery blood",98.4,100.0,94.0,70s,2020-05-18,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
188145,1169043575,2020-05-19,18:00:00,"O2 saturation (Qn),Artery blood",97.1,100.0,94.0,70s,2020-05-25,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days

In [7]:
s1 = s1.dropna()
s2 = s2.dropna()

In [8]:
#검사코드, 검사결과값표시, 접수시각, 진료과코드, 성별코드nm
s1.columns

Index(['연구번호', '입실일자', '입실시각', '검사코드', '검사코드NM', '검사결과값(숫자)', '검사결과값(표시)',
       '기준치상한값', '기준치하한값', '접수일자', '접수시각', '검사나이', '진료과코드', '진료과코드NM', '퇴실시각',
       '퇴실일자', '환자생년월', '성별코드', '성별코드NM'],
      dtype='object')

In [9]:
s1_dropcol = ['검사코드', '검사결과값(표시)', '진료과코드', '진료과코드NM', '성별코드NM']
s1 = s1.drop(s1_dropcol, axis=1)
s2 = s2.drop(s1_dropcol, axis=1)

In [10]:
s1

,연구번호,입실일자,입실시각,검사코드NM,검사결과값(숫자),기준치상한값,기준치하한값,접수일자,접수시각,검사나이,퇴실시각,퇴실일자,환자생년월,성별코드
1,1219300234,20210220,1350.0,"Bicarbonate (Qn),Artery blood",27.5,29.0,23.0,20210221.0,212123.0,81.0,1430,20210302,193909,M
3,1219300234,20210220,1350.0,"pO2 (Qn)[EM],Artery blood",117.8,108.0,83.0,20210222.0,45628.0,81.0,1430,20210302,193909,M
4,1219300234,20210220,1350.0,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,20210222.0,45628.0,81.0,1430,20210302,193909,M
5,1219300234,20210220,1350.0,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,20210222.0,45628.0,81.0,1430,20210302,193909,M
9,1219300234,20210220,1350.0,"pCO2 (Qn)[EM],Artery blood",47.0,45.0,35.0,20210221.0,43234.0,81.0,1430,20210302,193909,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799991,1169043575,20200519,1800.0,"pO2 (Qn)[EM],Artery blood",92.5,108.0,83.0,20200520.0,163255.0,66.0,1710,20200520,195307,F
799992,1169043575,20200519,1800.0,"pCO2 (Qn)[EM],Artery blood",38.1,45.0,35.0,20200520.0,155439.0,66.0,1710,20200520,195307,F
799993,1169043575,20200519,1800.0,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,20200520.0,155439.0,66.0,1710,20200520,195307,F
799996,1169043575,20200519,1800.0,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,20200520.0,155439.0,66.0,1710,20200520,195307,F
799998,1169043575,20200519,1800.0,"Bicarbonate (Qn),Artery blood",22.9,29.0,23.0,20200520.0,155439.0,66.0,1710,20200520,195307,F

In [11]:
s1['입실일자'] = pd.to_datetime(s1['입실일자'], format = '%Y%m%d', errors='ignore')
s1['퇴실일자'] = pd.to_datetime(s1['퇴실일자'], format = '%Y%m%d', errors='ignore')
s1['접수일자'] = pd.to_datetime(s1['접수일자'], format = '%Y%m%d', errors='ignore')

s2['입실일자'] = pd.to_datetime(s2['입실일자'], format = '%Y%m%d', errors='ignore')
s2['퇴실일자'] = pd.to_datetime(s2['퇴실일자'], format = '%Y%m%d', errors='ignore')
s2['접수일자'] = pd.to_datetime(s2['접수일자'], format = '%Y%m%d', errors='ignore')

In [12]:
s1['입원기간'] = s1['퇴실일자'] - s1['입실일자']
s2['입원기간'] = s2['퇴실일자'] - s2['입실일자']

In [13]:
s1['연구번호'] = s1['연구번호'].apply(str)
s2['연구번호'] = s2['연구번호'].apply(str)

def ID(data):
    return data[:3] + data[5:]

s1['환자ID'] = s1['연구번호'].apply(ID)
s2['환자ID'] = s2['연구번호'].apply(ID)

In [14]:
p1columns = ['연구번호', '입실일자', '입실시각', '검사코드NM', '검사결과값(숫자)', '기준치상한값', '기준치하한값',
       '검사나이', '접수일자', '접수시각', '퇴실일자', '퇴실시각', '환자생년월', '성별코드', '환자ID', '입원기간']
s1 = s1[p1columns]
s2 = s2[p1columns]

In [15]:
s1

,연구번호,입실일자,입실시각,검사코드NM,검사결과값(숫자),기준치상한값,기준치하한값,검사나이,접수일자,접수시각,퇴실일자,퇴실시각,환자생년월,성별코드,환자ID,입원기간
1,1219300234,2021-02-20,1350.0,"Bicarbonate (Qn),Artery blood",27.5,29.0,23.0,81.0,2021-02-21,212123.0,2021-03-02,1430,193909,M,12100234,10 days
3,1219300234,2021-02-20,1350.0,"pO2 (Qn)[EM],Artery blood",117.8,108.0,83.0,81.0,2021-02-22,45628.0,2021-03-02,1430,193909,M,12100234,10 days
4,1219300234,2021-02-20,1350.0,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,81.0,2021-02-22,45628.0,2021-03-02,1430,193909,M,12100234,10 days
5,1219300234,2021-02-20,1350.0,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,81.0,2021-02-22,45628.0,2021-03-02,1430,193909,M,12100234,10 days
9,1219300234,2021-02-20,1350.0,"pCO2 (Qn)[EM],Artery blood",47.0,45.0,35.0,81.0,2021-02-21,43234.0,2021-03-02,1430,193909,M,12100234,10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799991,1169043575,2020-05-19,1800.0,"pO2 (Qn)[EM],Artery blood",92.5,108.0,83.0,66.0,2020-05-20,163255.0,2020-05-20,1710,195307,F,11643575,1 days
799992,1169043575,2020-05-19,1800.0,"pCO2 (Qn)[EM],Artery blood",38.1,45.0,35.0,66.0,2020-05-20,155439.0,2020-05-20,1710,195307,F,11643575,1 days
799993,1169043575,2020-05-19,1800.0,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,66.0,2020-05-20,155439.0,2020-05-20,1710,195307,F,11643575,1 days
799996,1169043575,2020-05-19,1800.0,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,66.0,2020-05-20,155439.0,2020-05-20,1710,195307,F,11643575,1 days
799998,1169043575,2020-05-19,1800.0,"Bicarbonate (Qn),Artery blood",22.9,29.0,23.0,66.0,2020-05-20,155439.0,2020-05-20,1710,195307,F,11643575,1 days

In [16]:
def categrize(data):
    if data >= 80:
        return '80세 이상'
    elif 80 > data >= 70:
        return '70대'
    elif 70 > data >= 60:
        return '60대'
    elif 60 > data >= 50:
        return '50대'
    else:
        return '40대'

s1['검사나이'] = s1['검사나이'].apply(categrize)
s2['검사나이'] = s2['검사나이'].apply(categrize)

In [17]:
s1

,연구번호,입실일자,입실시각,검사코드NM,검사결과값(숫자),기준치상한값,기준치하한값,검사나이,접수일자,접수시각,퇴실일자,퇴실시각,환자생년월,성별코드,환자ID,입원기간
1,1219300234,2021-02-20,1350.0,"Bicarbonate (Qn),Artery blood",27.5,29.0,23.0,80세 이상,2021-02-21,212123.0,2021-03-02,1430,193909,M,12100234,10 days
3,1219300234,2021-02-20,1350.0,"pO2 (Qn)[EM],Artery blood",117.8,108.0,83.0,80세 이상,2021-02-22,45628.0,2021-03-02,1430,193909,M,12100234,10 days
4,1219300234,2021-02-20,1350.0,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,80세 이상,2021-02-22,45628.0,2021-03-02,1430,193909,M,12100234,10 days
5,1219300234,2021-02-20,1350.0,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,80세 이상,2021-02-22,45628.0,2021-03-02,1430,193909,M,12100234,10 days
9,1219300234,2021-02-20,1350.0,"pCO2 (Qn)[EM],Artery blood",47.0,45.0,35.0,80세 이상,2021-02-21,43234.0,2021-03-02,1430,193909,M,12100234,10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799991,1169043575,2020-05-19,1800.0,"pO2 (Qn)[EM],Artery blood",92.5,108.0,83.0,60대,2020-05-20,163255.0,2020-05-20,1710,195307,F,11643575,1 days
799992,1169043575,2020-05-19,1800.0,"pCO2 (Qn)[EM],Artery blood",38.1,45.0,35.0,60대,2020-05-20,155439.0,2020-05-20,1710,195307,F,11643575,1 days
799993,1169043575,2020-05-19,1800.0,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,60대,2020-05-20,155439.0,2020-05-20,1710,195307,F,11643575,1 days
799996,1169043575,2020-05-19,1800.0,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,60대,2020-05-20,155439.0,2020-05-20,1710,195307,F,11643575,1 days
799998,1169043575,2020-05-19,1800.0,"Bicarbonate (Qn),Artery blood",22.9,29.0,23.0,60대,2020-05-20,155439.0,2020-05-20,1710,195307,F,11643575,1 days

In [18]:
s1 = s1.drop(s1[s1['입실시각'] < 100].index, axis=0)
s1 = s1.drop(s1[s1['퇴실시각'] < 100].index, axis=0)
s1 = s1.drop(s1[s1['접수시각'] < 100].index, axis=0)

s2 = s2.drop(s2[s2['입실시각'] < 100].index, axis=0)
s2 = s2.drop(s2[s2['퇴실시각'] < 100].index, axis=0)
s2 = s2.drop(s2[s2['접수시각'] < 100].index, axis=0)

In [19]:
s1['입실시각'] = pd.to_datetime(s1['입실시각'], format='%H%M', errors='raise').dt.time
s1['퇴실시각'] = pd.to_datetime(s1['퇴실시각'], format='%H%M', errors='raise').dt.time
s1['접수시각'] = pd.to_datetime(s1['접수시각'], format='%H%M%S', errors='raise').dt.time

s2['입실시각'] = pd.to_datetime(s2['입실시각'], format='%H%M', errors='raise').dt.time
s2['퇴실시각'] = pd.to_datetime(s2['퇴실시각'], format='%H%M', errors='raise').dt.time
s2['접수시각'] = pd.to_datetime(s2['접수시각'], format='%H%M%S', errors='raise').dt.time

In [20]:
s1

,연구번호,입실일자,입실시각,검사코드NM,검사결과값(숫자),기준치상한값,기준치하한값,검사나이,접수일자,접수시각,퇴실일자,퇴실시각,환자생년월,성별코드,환자ID,입원기간
1,1219300234,2021-02-20,13:50:00,"Bicarbonate (Qn),Artery blood",27.5,29.0,23.0,80세 이상,2021-02-21,21:21:23,2021-03-02,14:30:00,193909,M,12100234,10 days
3,1219300234,2021-02-20,13:50:00,"pO2 (Qn)[EM],Artery blood",117.8,108.0,83.0,80세 이상,2021-02-22,04:56:28,2021-03-02,14:30:00,193909,M,12100234,10 days
4,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,80세 이상,2021-02-22,04:56:28,2021-03-02,14:30:00,193909,M,12100234,10 days
5,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,80세 이상,2021-02-22,04:56:28,2021-03-02,14:30:00,193909,M,12100234,10 days
9,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",47.0,45.0,35.0,80세 이상,2021-02-21,04:32:34,2021-03-02,14:30:00,193909,M,12100234,10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799991,1169043575,2020-05-19,18:00:00,"pO2 (Qn)[EM],Artery blood",92.5,108.0,83.0,60대,2020-05-20,16:32:55,2020-05-20,17:10:00,195307,F,11643575,1 days
799992,1169043575,2020-05-19,18:00:00,"pCO2 (Qn)[EM],Artery blood",38.1,45.0,35.0,60대,2020-05-20,15:54:39,2020-05-20,17:10:00,195307,F,11643575,1 days
799993,1169043575,2020-05-19,18:00:00,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,60대,2020-05-20,15:54:39,2020-05-20,17:10:00,195307,F,11643575,1 days
799996,1169043575,2020-05-19,18:00:00,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,60대,2020-05-20,15:54:39,2020-05-20,17:10:00,195307,F,11643575,1 days
799998,1169043575,2020-05-19,18:00:00,"Bicarbonate (Qn),Artery blood",22.9,29.0,23.0,60대,2020-05-20,15:54:39,2020-05-20,17:10:00,195307,F,11643575,1 days

In [21]:
p1

,연구번호,입실일자,입실시각,검사코드NM,검사결과값(숫자),기준치상한값,기준치하한값,검사나이,접수일자,접수시각,퇴실일자,퇴실시각,환자생년월,성별코드,환자ID,입원기간
0,1219300234,2021-02-20,13:50:00,"Bicarbonate (Qn),Artery blood",27.5,29.0,23.0,80세 이상,2021-02-21,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
1,1219300234,2021-02-20,13:50:00,"pO2 (Qn)[EM],Artery blood",117.8,108.0,83.0,80세 이상,2021-02-22,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
2,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,80세 이상,2021-02-22,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
3,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,80세 이상,2021-02-22,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
4,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",47.0,45.0,35.0,80세 이상,2021-02-21,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464314,1169043575,2020-05-19,18:00:00,"pO2 (Qn)[EM],Artery blood",92.5,108.0,83.0,70s,2020-05-20,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
464315,1169043575,2020-05-19,18:00:00,"pCO2 (Qn)[EM],Artery blood",38.1,45.0,35.0,70s,2020-05-20,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
464316,1169043575,2020-05-19,18:00:00,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,70s,2020-05-20,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
464317,1169043575,2020-05-19,18:00:00,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,70s,2020-05-20,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
464318,1169043575,2020-05-19,18:00:00,"Bicarbonate (Qn),Artery blood",22.9,29.0,23.0,70s,2020-05-20,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days

In [22]:
s2

,연구번호,입실일자,입실시각,검사코드NM,검사결과값(숫자),기준치상한값,기준치하한값,검사나이,접수일자,접수시각,퇴실일자,퇴실시각,환자생년월,성별코드,환자ID,입원기간
0,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",33.3,45.0,35.0,80세 이상,2021-02-24,05:11:47,2021-03-02,14:30:00,193909,M,12100234,10 days
1,1219300234,2021-02-20,13:50:00,"pO2 (Qn)[EM],Artery blood",134.1,108.0,83.0,80세 이상,2021-02-24,16:31:06,2021-03-02,14:30:00,193909,M,12100234,10 days
2,1219300234,2021-02-20,13:50:00,"pO2 (Qn)[EM],Artery blood",90.3,108.0,83.0,80세 이상,2021-02-24,05:11:47,2021-03-02,14:30:00,193909,M,12100234,10 days
3,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",97.3,100.0,94.0,80세 이상,2021-02-28,16:49:28,2021-03-02,14:30:00,193909,M,12100234,10 days
4,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",40.9,45.0,35.0,80세 이상,2021-02-23,04:37:59,2021-03-02,14:30:00,193909,M,12100234,10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195791,1169043575,2020-05-19,18:00:00,"pCO2 (Qn)[EM],Artery blood",22.4,45.0,35.0,60대,2020-05-19,02:57:26,2020-05-20,17:10:00,195307,F,11643575,1 days
195792,1169043575,2020-05-19,18:00:00,"pO2 (Qn)[EM],Artery blood",27.5,108.0,83.0,60대,2020-05-18,23:12:30,2020-05-20,17:10:00,195307,F,11643575,1 days
195793,1169043575,2020-05-19,18:00:00,"pO2 (Qn)[EM],Artery blood",27.5,108.0,83.0,60대,2020-05-18,23:12:30,2020-05-20,17:10:00,195307,F,11643575,1 days
195795,1169043575,2020-05-19,18:00:00,"O2 saturation (Qn),Artery blood",98.4,100.0,94.0,60대,2020-05-18,22:18:13,2020-05-20,17:10:00,195307,F,11643575,1 days
195797,1169043575,2020-05-19,18:00:00,"O2 saturation (Qn),Artery blood",97.1,100.0,94.0,60대,2020-05-25,07:38:41,2020-05-20,17:10:00,195307,F,11643575,1 days

In [23]:
p2

,연구번호,입실일자,입실시각,검사코드NM,검사결과값(숫자),기준치상한값,기준치하한값,검사나이,접수일자,접수시각,퇴실일자,퇴실시각,환자생년월,성별코드,환자ID,입원기간
0,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",33.3,45.0,35.0,80세 이상,2021-02-24,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
1,1219300234,2021-02-20,13:50:00,"pO2 (Qn)[EM],Artery blood",134.1,108.0,83.0,80세 이상,2021-02-24,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
2,1219300234,2021-02-20,13:50:00,"pO2 (Qn)[EM],Artery blood",90.3,108.0,83.0,80세 이상,2021-02-24,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
3,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",97.3,100.0,94.0,80세 이상,2021-02-28,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
4,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",40.9,45.0,35.0,80세 이상,2021-02-23,NaN,2021-03-02,14:30:00,193909,M,12100234,10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188141,1169043575,2020-05-19,18:00:00,"pO2 (Qn)[EM],Artery blood",27.5,108.0,83.0,70s,2020-05-18,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
188142,1169043575,2020-05-19,18:00:00,"pO2 (Qn)[EM],Artery blood",27.5,108.0,83.0,70s,2020-05-18,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
188143,1169043575,2020-05-19,18:00:00,"pO2 (Qn)[EM],Artery blood",27.5,108.0,83.0,70s,2020-05-18,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
188144,1169043575,2020-05-19,18:00:00,"O2 saturation (Qn),Artery blood",98.4,100.0,94.0,70s,2020-05-18,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days
188145,1169043575,2020-05-19,18:00:00,"O2 saturation (Qn),Artery blood",97.1,100.0,94.0,70s,2020-05-25,NaN,2020-05-20,17:10:00,195307,F,11643575,1 days

In [24]:
p3

,연구번호,입실일자,입실시각,검사코드NM,검사결과값(숫자),기준치상한값,기준치하한값,검사나이,접수일자,퇴실일자,퇴실시각,환자생년월,성별코드,환자ID,입원기간
0,1219300234,2021-02-20,13:50:00,"Bicarbonate (Qn),Artery blood",27.5,29.0,23.0,80세 이상,2021-02-21,2021-03-02,14:30:00,193909,M,12100234,10 days
1,1219300234,2021-02-20,13:50:00,"pO2 (Qn)[EM],Artery blood",117.8,108.0,83.0,80세 이상,2021-02-22,2021-03-02,14:30:00,193909,M,12100234,10 days
2,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,80세 이상,2021-02-22,2021-03-02,14:30:00,193909,M,12100234,10 days
3,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,80세 이상,2021-02-22,2021-03-02,14:30:00,193909,M,12100234,10 days
4,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",47.0,45.0,35.0,80세 이상,2021-02-21,2021-03-02,14:30:00,193909,M,12100234,10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",96.5,100.0,94.0,80세 이상,2021-03-01,2021-03-02,14:30:00,193909,M,12100234,10 days
485,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",99.1,100.0,94.0,80세 이상,2021-03-09,2021-03-02,14:30:00,193909,M,12100234,10 days
486,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",35.2,45.0,35.0,80세 이상,2021-03-09,2021-03-02,14:30:00,193909,M,12100234,10 days
487,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",40.8,45.0,35.0,80세 이상,2021-03-04,2021-03-02,14:30:00,193909,M,12100234,10 days
488,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",40.3,45.0,35.0,80세 이상,2021-03-02,2021-03-02,14:30:00,193909,M,12100234,10 days

In [25]:
s3 = pd.concat([s1, s2], axis=0)

In [26]:
s3

,연구번호,입실일자,입실시각,검사코드NM,검사결과값(숫자),기준치상한값,기준치하한값,검사나이,접수일자,접수시각,퇴실일자,퇴실시각,환자생년월,성별코드,환자ID,입원기간
1,1219300234,2021-02-20,13:50:00,"Bicarbonate (Qn),Artery blood",27.5,29.0,23.0,80세 이상,2021-02-21,21:21:23,2021-03-02,14:30:00,193909,M,12100234,10 days
3,1219300234,2021-02-20,13:50:00,"pO2 (Qn)[EM],Artery blood",117.8,108.0,83.0,80세 이상,2021-02-22,04:56:28,2021-03-02,14:30:00,193909,M,12100234,10 days
4,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,80세 이상,2021-02-22,04:56:28,2021-03-02,14:30:00,193909,M,12100234,10 days
5,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,80세 이상,2021-02-22,04:56:28,2021-03-02,14:30:00,193909,M,12100234,10 days
9,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",47.0,45.0,35.0,80세 이상,2021-02-21,04:32:34,2021-03-02,14:30:00,193909,M,12100234,10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195791,1169043575,2020-05-19,18:00:00,"pCO2 (Qn)[EM],Artery blood",22.4,45.0,35.0,60대,2020-05-19,02:57:26,2020-05-20,17:10:00,195307,F,11643575,1 days
195792,1169043575,2020-05-19,18:00:00,"pO2 (Qn)[EM],Artery blood",27.5,108.0,83.0,60대,2020-05-18,23:12:30,2020-05-20,17:10:00,195307,F,11643575,1 days
195793,1169043575,2020-05-19,18:00:00,"pO2 (Qn)[EM],Artery blood",27.5,108.0,83.0,60대,2020-05-18,23:12:30,2020-05-20,17:10:00,195307,F,11643575,1 days
195795,1169043575,2020-05-19,18:00:00,"O2 saturation (Qn),Artery blood",98.4,100.0,94.0,60대,2020-05-18,22:18:13,2020-05-20,17:10:00,195307,F,11643575,1 days
195797,1169043575,2020-05-19,18:00:00,"O2 saturation (Qn),Artery blood",97.1,100.0,94.0,60대,2020-05-25,07:38:41,2020-05-20,17:10:00,195307,F,11643575,1 days